<div [@enterAnimation] class="card card-shadow bg-primary pb-4">
    <div *ngIf="message" class="alert alert-danger alert-position" role="alert" (click)="dismissAlert()">
        <strong>{{message}}</strong>
    </div>
    <form [formGroup]="salesRepFormGroup" (ngSubmit)="submit()">
    <div class="card-block">
      <h1 class="display-4 text-white ml-4 my-3">{{formTitle}}</h1>
      <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Basic Information</h6>
          <div *ngIf="pubKey" class="form-group" formGroupName="salesRepSummary">
            <label for="pubKey">Public Key</label>
            <input (focus)="attr = 'pubKey'" type="text" formControlName="pubKey" class="form-control" id="pubKey" required readonly>
          </div>
          <div class="form-group" formGroupName="salesRepSummary">
            <label for="fName">First Name <span class="text-danger">*</span></label>
            <input (focus)="attr = 'fName'" type="text" formControlName="fName" class="form-control" id="fname" placeholder="First name of the Sales Representative" [readOnly]="readOnly" required>
          </div>
          <div class="form-group" formGroupName="salesRepSummary">
            <label for="mName">Middle Name</label>
            <input (focus)="attr = 'mName'" type="text" formControlName="mName" class="form-control" id="mName" placeholder="Middle name of the Sales Representative" [readOnly]="readOnly">
          </div>
          <div class="form-group" formGroupName="salesRepSummary">
            <label for="lName">Last Name</label>
            <input (focus)="attr = 'lName'" type="text" formControlName="lName" class="form-control" id="lName" placeholder="Last name of the Sales Representative" [readOnly]="readOnly">
          </div>
          <div class="form-group" formGroupName="salesRepSummary">
            <label for="desig">Designation <span class="text-danger">*</span></label>
            <input (focus)="attr = 'desig'" type="text" formControlName="desig" class="form-control" id="desig" placeholder="Designation of the Sales Representative"
              required [readOnly]="readOnly">
          </div>                      
        </div>
      </div>
      <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Supervisor</h6>

          <ul class="list-group my-4">
            <li [@fadeIn] *ngIf="salesrep.pubKey" class="list-group-item">
              <p><strong>{{salesrep.fName}} {{salesrep.mName}} {{salesrep.lName}} (<a routerLink="/salesrepDetails/{{salesrep.pubKey}}">{{salesrep.pubKey}}</a>)<i *ngIf="!readOnly" (click)=removeSalesrep()
                class="fa fa-minus-circle pull-right mx-2" aria-hidden="true"></i></strong></p>
              <p class="p-0 m-0"><small>{{salesrep.desig}}</small></p>
              <p class="p-0 m-0"><small><i class="fa fa-envelope-open-o" aria-hidden="true"></i> {{salesrep.email}}</small></p>
              <p class="p-0 m-0"><small><i class="fa fa-mobile" aria-hidden="true"></i> {{salesrep.mob}} / <i class="fa fa-phone" aria-hidden="true"></i> {{salesrep.land}} - {{salesrep.extn}}</small></p>
            </li>
          </ul>
          <button *ngIf="!readOnly" type="button" (click)="open(salesrepSelector)" class="btn btn-primary float-right text-white ripple">Add Supervisor</button>
        </div>
      </div>
      <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Sales Representative Information</h6>
          <div class="form-group" formGroupName="salesRepSummary">
            <label for="email">Email <span class="text-danger">*</span></label>
            <input (focus)="attr = 'email'" type="email" formControlName="email" class="form-control" id="email" placeholder="Email of the Sales Representative"
              required [readOnly]="readOnly">
          </div>
          <div class="form-group" formGroupName="salesRepSummary">
            <label for="mob">Mobile <span class="text-danger">*</span></label>
            <input (focus)="attr = 'mob'" type="text" formControlName="mob" class="form-control" id="mob" placeholder="Mobile number of the Sales Representative"
              required [readOnly]="readOnly">
          </div>
          <div class="form-group" formGroupName="salesRepSummary">
            <label for="land">Telephone</label>
            <input (focus)="attr = 'land'" type="text" formControlName="land" class="form-control" id="land" placeholder="Land line number of the Sales Representative" [readOnly]="readOnly">
          </div>
          <div class="form-group" formGroupName="salesRepSummary">
            <label for="extn">Extension</label>
            <input (focus)="attr = 'extn'" type="text" formControlName="extn" class="form-control" id="extn" placeholder="Extension number of the Sales Representative" [readOnly]="readOnly">
          </div>
        </div>
      </div>
      <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Additional Information</h6>
          <div class="form-group">
            <label for="status">Status</label>
            <select (focus)="attr = 'statusId'" formControlName="statusId" class="form-control py-0" id="statusId" disabled="true">
              <option value="1">Active</option>
              <option value="2">Deactivated</option>
            </select>
          </div>         
          <div class="form-group">
            <label for="doj">Date of Joining</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                    formControlName="doj" ngbDatepicker #d="ngbDatepicker" [readOnly]="readOnly">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <img src="/assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-xs-1 mx-sm-1 mx-md-4 mx-lg-4 mx-xl-4">
          
        <button [disabled]="!salesRepFormGroup.valid" type="submit" class="btn btn-info float-right text-white ripple">{{buttonName}}</button>
        <button *ngIf="mode==='Modify'" (click)="cancel()" class="btn btn-primary float-right text-white ripple">Cancel</button>
      </div>
    </div>
  </form>
  <ng-template #salesrepSelector let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary text-white">
      <h4 class="modal-title">Supervisor Selection</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body p-4">
      <app-salesrep-selector [addedSalesreps]="salesrep" (add)="addSalesrep($event)"></app-salesrep-selector>
    </div>
  </ng-template>
</div>
<div class="d-none d-lg-block help-text">
  <app-help-gadget [background]="'bg-laccent'" [helpHeader]="'Sales Representative'" [helpText]="'Sales Representatives sell retail products, goods and services to customers. Sales Representatives work with customers to find what they want, create solutions and ensure a smooth sales process. Sales Representatives will work to find new sales leads, through business directories, client referrals, etc.'"></app-help-gadget>  
  <app-help-gadget *ngIf="attr==='desig'" [helpHeader]="'Designation'" [helpText]="'The designation of the Sales Representative in the company he/she works for.'"></app-help-gadget>
  <app-help-gadget *ngIf="attr==='supPubKey'" [helpHeader]="'Supervisor Public Key'" [helpText]="'The Supervisor Name/Public Key under which the sales representative is working in the company.'"></app-help-gadget>
</div>