<nav class="navbar navbar-toggleable-xs navbar-expand-md navbar-dark bg-primary">
  <button [attr.aria-expanded]="!isNavbarCollapsed" (click)="isNavbarCollapsed = !isNavbarCollapsed" class="navbar-toggler navbar-toggler-right"
    type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/home']">SFM</a>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
                New
              </a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/salesrepCreation']">Sales Representative</a>
          <a class="dropdown-item" [routerLink]="['/contactCreation']">Contact</a>
          <a class="dropdown-item" [routerLink]="['/leadCreation']">Lead</a>
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
                Search
              </a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/salesreps']">Sales Representative</a>
          <a class="dropdown-item" [routerLink]="['/contacts']">Contact</a>
          <a class="dropdown-item" [routerLink]="['/leads']">Lead</a>
          <a class="dropdown-item" [routerLink]="['/opportunities']">Opportunity</a>
          <a class="dropdown-item" [routerLink]="['/accounts']">Account</a>
        </div>
      </li>
    </ul>

      <div class="dropdown show" ngbDropdown>
        <button ngbDropdownToggle class="btn btn-primary dropdown-toggle text-white" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{division}}
      </button>
        <div ngbDropdownMenu class="dropdown-menu pull-right" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" (click)="division = 'All'">All</a>
          <a class="dropdown-item" (click)="division = 'Middle East & Africa'">Middle East & Africa</a>
          <a class="dropdown-item" (click)="division = 'Asia Pacific'">Asia Pacific</a>
        </div>
      </div>
  </div>
</nav>