<div class="card card-shadow bg-primary pb-4">
  <div *ngIf="message" class="alert alert-danger alert-position" role="alert" (click)="dismissAlert()">
    <strong>{{message}}</strong>
  </div>
  <form [formGroup]="leadFormGroup" (ngSubmit)="submit()">
    <div class="card-block">
      <h1 class="display-4 text-white ml-4 my-3">{{formTitle}}</h1>
      <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Basic Information</h6>
          <div *ngIf="pubKey" class="form-group">
            <label for="pubKey">Public Key</label>
            <input (focus)="attr = 'pubKey'" type="text" formControlName="pubKey" class="form-control" id="pubKey" required readonly>
          </div>
          <div class="form-group">
            <label for="title">Title <span class="text-danger">*</span></label>
            <input type="text" formControlName="title" class="form-control" id="title" placeholder="Title text of the lead"
              [readOnly]="readOnly" required>
          </div>
          <div class="form-group">
              <label for="discType">Discount Type <span class="text-danger">*</span></label>
              <select class="form-control" formControlName="discType" id="discType" required>
                <option value="1">Amount</option>
                <option value="2">Percent</option>
              </select>
            </div>
            <div class="form-group">
                <label for="discValue">Discount Value <span class="text-danger">*</span></label>
                <input type="text" formControlName="discVal" class="form-control" id="discValue" placeholder="Discount value"
                  [readOnly]="readOnly" required>
              </div>
            </div>
      </div>
      <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Products</h6>
          <ul class="list-group my-4">
            <li [@fadeIn] *ngFor="let product of products" class="list-group-item">{{product.des}}<i (click)=removeProd(product.pubKey) class="fa fa-minus-circle pull-right mx-2" aria-hidden="true"></i>
              <i
                class="fa fa-pencil pull-right mx-2" aria-hidden="true"></i>
            </li>
            <button (click)="openProductDialog()" class="btn btn-success float-right text-white ripple">Add Product</button>
          </ul>
        </div>
      </div>
      <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Contacts</h6>

          <ul class="list-group my-4">
            <li [@fadeIn] *ngFor="let contact of contacts" class="list-group-item">{{contact.name}}<i (click)=removeContact(contact.pubKey) class="fa fa-minus-circle pull-right mx-2" aria-hidden="true"></i>
              <i
                class="fa fa-pencil pull-right mx-2" aria-hidden="true"></i>
            </li>
            <button (click)="openContactDialog()" class="btn btn-success float-right text-white ripple">Add Contact</button>
          </ul>

        </div>
      </div>
      <div class="mx-xs-1 mx-sm-1 mx-md-4 mx-lg-4 mx-xl-4">
        <button [disabled]="!leadFormGroup.valid" type="submit" class="btn btn-primary float-right text-white ripple">{{buttonName}}</button>
        <button *ngIf="mode==='Modify'" (click)="cancel()" class="btn btn-primary float-right text-white ripple">Cancel</button>
      </div>
    </div>
  </form>
</div>
<div class="d-none d-lg-block help-text">
  <app-help-gadget [background]="'bg-laccent'" [helpHeader]="'Contact'" [helpText]="'Contacts are the people that you market to, sell to, support, etc. They are the people you interact with to get the business. Capture as much details about them as you can. You can use the Notes field for any additional information which do not fit into any other available fields.'"></app-help-gadget>
  <app-help-gadget *ngIf="attr==='company'" [helpHeader]="'Company'" [helpText]="'The company which the contact works for.'"></app-help-gadget>
  <app-help-gadget *ngIf="attr==='desig'" [helpHeader]="'Designation'" [helpText]="'The designation of the contact in the company he/she works for.'"></app-help-gadget>
  <app-help-gadget *ngIf="attr==='note'" [helpHeader]="'Notes'" [helpText]="'Use this space to capture any additional information about the contact that do not fit into any of the other fields.'"></app-help-gadget>
</div>