<div class="card card-shadow bg-primary pb-4">
  <div *ngIf="message" class="alert alert-danger alert-position" role="alert" (click)="dismissAlert()">
    <strong>{{message}}</strong>
  </div>
  <form [formGroup]="leadFormGroup" (ngSubmit)="submit()">
    <div class="card-block">
      <h1 class="display-4 text-white ml-4 my-3">{{formTitle}}</h1>
      <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Basic Information</h6>
          <div *ngIf="pubKey" class="form-group" formGroupName="leadSummary">
            <label for="pubKey">Public Key</label>
            <input (focus)="attr = 'pubKey'" type="text" formControlName="pubKey" class="form-control" id="pubKey" required readonly>
          </div>
          <div class="form-group" formGroupName="leadSummary">
            <label for="title">Title <span class="text-danger">*</span></label>
            <input (focus)="attr = 'title'" type="text" formControlName="title" class="form-control" id="title" placeholder="Title text of the lead"
              [readOnly]="readOnly" required>
          </div>
          <div class="form-group" formGroupName="leadSummary">
            <label for="quotePrice">Total Quote Price</label>
            <input (focus)="attr = 'quotePrice'" type="text" formControlName="quotePrice" class="form-control" id="quotePrice" readonly
              required>
          </div>
          <div class="form-group">
            <label for="discType">Discount Type <span class="text-danger">*</span></label>
            <select (focus)="attr = 'discType'" class="form-control" formControlName="discType" id="discType" [attr.disabled]="readOnly"
              required>
                <option value="1">Amount</option>
                <option value="2">Percent</option>
              </select>
          </div>
          <div class="form-group">
            <label for="discValue">Discount Value <span class="text-danger">*</span></label>
            <input (focus)="attr = 'discVal'" type="text" formControlName="discVal" class="form-control" id="discValue" placeholder="Discount value"
              [readOnly]="readOnly" required>
          </div>
          <div class="form-group">
            <label for="divPubKey">Division <span class="text-danger">*</span></label>
            <select (focus)="attr = 'divPubKey'" class="form-control" formControlName="divPubKey" id="divPubKey" [attr.disabled]="readOnly"
              required>
                <option *ngFor="let div of divisions" value="{{div.pubKey}}">{{div.des}}</option>
            </select>
          </div>
          <div *ngIf="pubKey" class="form-group" formGroupName="leadSummary">
            <label for="status">Discount Type <span class="text-danger">*</span></label>
            <select (focus)="attr = 'status'" class="form-control" formControlName="statusPubKey" id="status" [attr.disabled]="readOnly"
              required>
                  <option *ngFor="let status of possibleStatus" value="{{status.pubKey}}">{{status.des}}</option>
                </select>
          </div>
        </div>
      </div>
      <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Account</h6>
          <ul class="list-group my-4">
            <li *ngIf="account.pubKey" class="list-group-item">
              <p>{{account.title}} (<a routerLink="/accountDetails/{{account.pubKey}}">{{account.pubKey}}</a>)<i *ngIf="!readOnly"
                  (click)=removeAccount() class="fa fa-minus-circle pull-right mx-2" aria-hidden="true"></i></p>
            </li>
          </ul>
          <button *ngIf="!readOnly" type="button" (click)="open(accountSelector)" class="btn btn-primary float-right text-white ripple">Attach Account</button>

        </div>
      </div>
      <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Products</h6>
          <ul class="list-group my-4">
            <li [@fadeIn] *ngFor="let product of products" class="list-group-item">
              <p><strong>{{product.des}} ({{product.pubKey}})<i *ngIf="!readOnly" (click)=removeProd(product.pubKey) class="fa fa-minus-circle pull-right mx-2" aria-hidden="true"></i>
              <i *ngIf="!readOnly" class="fa fa-pencil pull-right mx-2" aria-hidden="true" (click)="productInstance = product; open(prodInstEditor)"></i></strong></p>
              <p class="p-0 m-0"><small>Quote Unit Price : {{product.quotePrice}} (Actual Unit Price: {{product.actualPrice}})</small></p>
              <p class="p-0 m-0"><small>No. of unit : {{product.unit}} (Discount: {{product.discVal}}{{product.discUnit}})</small></p>
              <p class="p-0 m-0 pull-right text-success"><strong>Quote Price : {{product.totalQuotePrice}}</strong></p>
            </li>
          </ul>
          <button *ngIf="!readOnly" type="button" (click)="open(productSelector)" class="btn btn-primary float-right text-white ripple">Add Product</button>
        </div>
      </div>
      <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Contacts</h6>

          <ul class="list-group my-4">
            <li [@fadeIn] *ngFor="let contact of contacts" class="list-group-item">
              <p><strong>{{contact.fName}} {{contact.mName}} {{contact.lName}} (<a routerLink="/contactDetails/{{contact.pubKey}}">{{contact.pubKey}}</a>)<i *ngIf="!readOnly" (click)=removeContact(contact.pubKey)
                class="fa fa-minus-circle pull-right mx-2" aria-hidden="true"></i></strong></p>
              <p class="p-0 m-0"><small>{{contact.desig}} - {{contact.company}}</small></p>
              <p class="p-0 m-0"><small><i class="fa fa-envelope-open-o" aria-hidden="true"></i> {{contact.email}}</small></p>
              <p class="p-0 m-0"><small><i class="fa fa-mobile" aria-hidden="true"></i> {{contact.mob}} / <i class="fa fa-phone" aria-hidden="true"></i> {{contact.land}} - {{contact.extn}}</small></p>
            </li>
          </ul>
          <button *ngIf="!readOnly" type="button" (click)="open(contactSelector)" class="btn btn-primary float-right text-white ripple">Add Contact</button>
        </div>
      </div>
      <div *ngIf="mode === 'Modify'" class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Comments</h6>

          <div class="form-group">
            <label for="changeDescription">Change Description</label>
            <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="Describe your changes"></textarea>
          </div>
        </div>
      </div>

      <div class="mx-xs-1 mx-sm-1 mx-md-4 mx-lg-4 mx-xl-4">
        <button [disabled]="!leadFormGroup.valid" type="submit" class="btn btn-primary float-right text-white ripple">{{buttonName}}</button>
        <button *ngIf="mode==='Modify'" (click)="cancel()" class="btn btn-primary float-right text-white ripple">Cancel</button>
      </div>
    </div>
  </form>
  <ng-template #productSelector let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary text-white">
      <h4 class="modal-title">Product Selection</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
    </div>
    <div class="modal-body p-4">
      <app-product-selector [addedProducts]="products" (add)="addProduct($event)"></app-product-selector>
    </div>
  </ng-template>
  <ng-template #contactSelector let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary text-white">
      <h4 class="modal-title">Contact Selection</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body p-4">
      <app-contact-selector [addedContacts]="contacts" (add)="addContact($event)"></app-contact-selector>
    </div>
  </ng-template>
  <ng-template #prodInstEditor let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary text-white">
      <h4 class="modal-title">Product Instance Editor</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
    </div>
    <div class="modal-body p-4">
      <app-prod-inst-editor [productInstance]="productInstance" (save)="editProductInstance($event)"></app-prod-inst-editor>
    </div>
  </ng-template>
  <ng-template #accountSelector let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary text-white">
      <h4 class="modal-title">Account Selector</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
    </div>
    <div class="modal-body p-4">
      <app-account-selector [attachedaccount]="account" (attach)="attachAccount($event)"></app-account-selector>
    </div>
  </ng-template>
</div>
<div class="d-none d-lg-block help-text">
  <app-help-gadget [background]="'bg-laccent'" [helpHeader]="'Lead'" [helpText]="'Leads are potential new business. The customer has shown some interest in our product. However, we are still unsure if the sale will happen. We need to follow-up with the customer, gather more information and drive it towards an actual sale.'"></app-help-gadget>
  <app-help-gadget *ngIf="attr==='discVal'" [helpHeader]="'Discount Value'" [helpText]="'This is the overall discount on the Lead. If the discount type is Percent, this value will be treated as a percent value. Otherwise, this value is considered as a monetary amount'"></app-help-gadget>
</div>