<div class="full-screen">
  <div class="row my-md-4 my-sm-0 mx-md-4 mx-0 px-md-4 px-sm-0">
    <div class="card card-shadow bg-primary mx-md-2 mx-sm-0 my-md-4 my-sm-0 pb-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <form>
        <div class="card-block">
          <h1 class="display-4 text-white ml-4 my-3">Contact Creation</h1>
          <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
            <div class="card-block">
              <div class="form-group">
                <label for="title">First Name <span class="text-danger">*</span></label>
                <input (focus)="attr = 'fName'" type="text" class="form-control" id="fname" aria-describedby="fnameHelp" placeholder="First name of the contact"
                  required>
              </div>
              <div class="form-group">
                <label for="mName">Middle Name</label>
                <input (focus)="attr = 'mName'" type="text" class="form-control" id="mName" placeholder="Middle name of the contact">
              </div>
              <div class="form-group">
                <label for="lName">Last Name</label>
                <input (focus)="attr = 'lName'" type="text" class="form-control" id="lName" placeholder="Last name of the contact">
              </div>
              <div class="form-group">
                <label for="company">Company <span class="text-danger">*</span></label>
                <input (focus)="attr = 'company'" type="text" class="form-control" id="company" placeholder="Name of the company" required>
              </div>
              <div class="form-group">
                <label for="desig">Designation <span class="text-danger">*</span></label>
                <input (focus)="attr = 'desig'" type="text" class="form-control" id="desig" placeholder="Designation of the contact" required>
              </div>
            </div>
          </div>
          <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
            <div class="card-block">

              <div class="form-group">
                <label for="email">Email <span class="text-danger">*</span></label>
                <input (focus)="attr = 'email'" type="email" class="form-control" id="email" placeholder="Email of the contact" required>
              </div>
              <div class="form-group">
                <label for="mob">Mobile <span class="text-danger">*</span></label>
                <input (focus)="attr = 'mob'" type="text" class="form-control" id="mob" placeholder="Mobile number of the contact" required>
              </div>
              <div class="form-group">
                <label for="land">Telephone</label>
                <input (focus)="attr = 'land'" type="text" class="form-control" id="land" placeholder="Land line number of the contact">
              </div>
              <div class="form-group">
                <label for="extn">Extension</label>
                <input (focus)="attr = 'extn'" type="text" class="form-control" id="extn" placeholder="Extension number of the contact">
              </div>
            </div>
          </div>
          <div class="mx-xs-1 mx-sm-1 mx-md-4 mx-lg-4 mx-xl-4">
            <button type="submit" class="btn btn-primary float-right text-white ripple">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="d-none d-lg-block help-text">
      <app-help-gadget *ngIf="attr==='fName'" [helpHeader]="'First Name'" [helpText]="'The first name of the contact.'"></app-help-gadget>
      <app-help-gadget *ngIf="attr==='mName'" [helpHeader]="'Middle Name'" [helpText]="'The middle name of the contact (if any).'"></app-help-gadget>
      <app-help-gadget *ngIf="attr==='lName'" [helpHeader]="'Last Name'" [helpText]="'The last name of the contact (if any).'"></app-help-gadget>
      <app-help-gadget *ngIf="attr==='company'" [helpHeader]="'Company'" [helpText]="'The Company which the contact works for.'"></app-help-gadget>
      <app-help-gadget *ngIf="attr==='desig'" [helpHeader]="'Designation'" [helpText]="'The designation of the contact in the company he/she works for.'"></app-help-gadget>
      <app-help-gadget *ngIf="attr==='email'" [helpHeader]="'Email'" [helpText]="'The official email of the contact where he/she can be contacted.'"></app-help-gadget>
      <app-help-gadget *ngIf="attr==='mob'" [helpHeader]="'Mobile'" [helpText]="'The mobile number of the contact where he/she can be contacted.'"></app-help-gadget>
      <app-help-gadget *ngIf="attr==='land'" [helpHeader]="'Telephone'" [helpText]="'The land line number of the contact where he/she can be contacted.'"></app-help-gadget>
      <app-help-gadget *ngIf="attr==='extn'" [helpHeader]="'Extension'" [helpText]="'Extension number of the contact'"></app-help-gadget>
    </div>
  </div>
</div>