<div class="full-screen">
  <app-navbar></app-navbar>
  <div class="home-background full-screen">
    <div class="align-items-center d-flex h-100 w-100">
      <div class="mx-auto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row my-4">
          <div class="mx-auto col-xl-6 col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <input type="text" class="form-control" id="search" aria-describedby="search" placeholder="Search">
          </div>

        </div>
        <div class="row my-4">
          <div class="mx-auto col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="card bg-success text-white py-2 px-4 my-2">
              <div class="card-block">
                <h1 class="display-4"><i class="fa fa-usd" aria-hidden="true"></i> 10 </h1>
                <p>Accounts</p>
              </div>
            </div>
          </div>
          <div class="mx-auto col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="card bg-primary text-white py-2 px-4 my-2">
              <div class="card-block">
                <h1 class="display-4"><i class="fa fa-handshake-o" aria-hidden="true"></i> 10 </h1>
                <p>Opportunities</p>
              </div>
            </div>
          </div>
          <div class="mx-auto col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="card bg-warning text-white py-2 px-4 my-2">
              <div class="card-block">
                <h1 class="display-4"><i class="fa fa-briefcase" aria-hidden="true"></i> 10 </h1>
                <p>Leads</p>
              </div>
            </div>
          </div>
          <div class="mx-auto col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="card bg-danger text-white py-2 px-4 my-2">
              <div class="card-block">
                <h1 class="display-4"><i class="fa fa-address-card" aria-hidden="true"></i> 10 </h1>
                <p>Contacts</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card py-2 px-4 my-2">
              <h6 class="card-subtitle py-3">Recently Viewed Items</h6>
              <div class="card-block">
                <ul class="list-group">
                  <li class="list-group-item"><a href="#">Lead XYZ</a></li>
                  <li class="list-group-item"><a href="#">Lead ABC</a></li>
                </ul>
                <p class="text-right"><a href="#">More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card py-2 px-4 my-2">
              <h6 class="card-subtitle py-3">Feed</h6>
              <div class="card-block">
                <ul class="list-group">
                  <li class="list-group-item"><a href="#">Lead XYZ Created</a></li>
                  <li class="list-group-item"><a href="#">Lead ABC Updated</a></li>
                </ul>
                <p class="text-right"><a href="#">More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>