<form [formGroup]="formGroup" method="post" class="h-100 align-items-center d-flex" (ngSubmit)="login()">
  <fieldset [disabled]="flags.isProcessingInProgress" class="mx-auto col-xl-4 col-lg-4 col-md-6 col-sm-8 col-xs-12 card py-4 px-2 px-sm-4 my-md-4">
    <div class="row mb-4">
      <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="text-center">
          <small class="text-muted">Create Profile</small>
        </h1>
      </div>
    </div>
    <div class="row mb-4">
      <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="input-group input-group">
          <span class="input-group-addon" id="name"><fa name="user" class="fa-fw"></fa></span>
          <input type="text" formControlName="name" class="form-control" placeholder="Name" aria-describedby="name" required="true">
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="input-group input-group">
          <span class="input-group-addon" id="email"><fa name="envelope" class="fa-fw"></fa></span>
          <input type="text" formControlName="email" class="form-control" placeholder="Email" aria-describedby="email" required="true">
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="input-group input-group">
          <span class="input-group-addon" id="contactNumber"><fa name="mobile" class="fa-fw"></fa></span>
          <input type="text" formControlName="phone_number" class="form-control" placeholder="Contact Number" aria-describedby="contactNumber" required="true">
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="input-group input-group">
          <textarea formControlName="address" class="form-control" id="exampleTextarea" placeholder="Address" rows="3" required="true"></textarea>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="input-group input-group">
          <span class="input-group-addon" id="newPassword"><fa name="lock" class="fa-fw"></fa></span>
          <input type="text" formControlName="newPassword" class="form-control" placeholder="New Password" type="password" aria-describedby="newPassword" required="true">
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="input-group input-group">
          <span class="input-group-addon" id="confirmPassword"><fa name="lock" class="fa-fw"></fa></span>
          <input type="text" formControlName="confirmedNewPassword" class="form-control" placeholder="Confirm Password" type="password" aria-describedby="confirmPassword"
            required="true">
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="mx-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="input-group input-group">
          <button type="submit" class="btn btn-primary btn-block btn-lg">Save</button>
        </div>
      </div>
    </div>
  </fieldset>
</form>