<div class="card card-shadow p-3">
  <div class="card-header">
    <h4 class="card-title">{{cName}} (<a [routerLink]="['/salesrepDetails/',pubKey]">{{pubKey}}</a>)</h4>
    <h6 class="card-subtitle mb-2">{{desig}} </h6>
  </div>
  <div class="card-body">
    <p class="card-text">{{email}}</p>
    <div class="row">
      <div class="col-6">
        <p class="card-text"><i class="fa fa-mobile" aria-hidden="true"></i> {{mob}}</p>
      </div>
      <div class="col-6">
        <p class="card-text"><i class="fa fa-phone" aria-hidden="true"></i> {{land}} - {{extn}}</p>
      </div>
    </div>
  </div>
</div>