@import "../../variables.scss";
.timeline {
    list-style: none;
    position: relative;
  }
  
  .timeline:before {
    top: 2rem;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 0.2rem;
    background-color: #eeeeee;
    left: 2%;
    margin-left: 2.5rem;
  }
  
  .timeline > li {
    position: relative;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li > .card {
    left: 2%;
    width: 80%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  
  .timeline > li > .card:before {
    position: absolute;
    top: 1.6rem;
    left: -0.9rem;
    display: inline-block;
    border-top: 0.9rem solid transparent;
    border-left: 0 solid #ccc;
    border-right: 0.9rem solid #ccc;
    border-bottom: 0.9rem solid transparent;
    content: " ";
  }
  
  .timeline > li > .card:after {
    position: absolute;
    top: 1.6rem;
    left: -0.8rem;
    display: inline-block;
    border-top: 0.85rem solid transparent;
    border-left: 0 solid #fff;
    border-right: 0.9rem solid #fff;
    border-bottom: 0.9rem solid transparent;
    content: " ";
  }
  
  .timeline-badge {
    color: #fff;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
    text-align: center;
    position: absolute;
    top: 2.5rem;
    left: 2%;
    margin-left: -1.5rem;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .timeline-badge-success {
    @extend .timeline-badge;
    background-color: $green;
  }
  
  .timeline-badge-warn {
    @extend .timeline-badge;
    background-color: $yellow;
  }

  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  
  .timeline-body > p + p {
    margin-top: 0.5rem;
  }

  .card-shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }