<div [@enterAnimation] class="card card-shadow pb-4">
  <div *ngIf="message" class="alert alert-danger alert-position" role="alert" (click)="dismissAlert()">
    <strong>{{message}}</strong>
  </div>
  <form [formGroup]="commentFormGroup" (ngSubmit)="submit()">
    <div class="card-block">
      <h1 class="display-4 ml-4 my-3">{{formTitle}}</h1>
      <div class="ml-4 my-3">
        <button class="btn btn-info text-white ripple" (click)="changeViewDisplay()">Show Details</button>
      </div>

      <div class="card card-shadow my-4 mx-sm-0 mx-md-4 py-4 px-md-4 px-3">
        <div class="card-block">
          <h6 class="card-title mb-4 text-center text-muted">Comments</h6>
          <div class="form-group">
            <label for="changeDescription">Change Description</label>
            <textarea formControlName="note" class="form-control" id="exampleTextarea" rows="5" placeholder="Describe your changes"></textarea>
          </div>
          <button type="submit" class="btn btn-info float-right text-white ripple">Save</button>
        </div>
      </div>

      <ul class="timeline py-4">
        <li *ngFor="let comment of comments">
          <div *ngIf="comment.statusPubKey === null" class="timeline-badge-success"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
          <div *ngIf="comment.statusPubKey !== null" class="timeline-badge-warn"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
          <div class="card card-shadow my-2 ml-5 px-2">
            <div class="card-block">
              <div class="card-body">
                <p class="text-muted"><a class="text-muted" href="salesrepDetails/{{comment.crtdByPubKey}}">Created by: {{comment.crtdBy}}</a>, Created On: {{comment.crtdOn}}</p>
                <p *ngIf="comment.statusPubKey !== null"><strong>{{comment.status}}</strong></p>
                <p *ngIf="comment.statusPubKey === null">{{comment.note}}</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </form>
  <p *ngIf="!allCommentsShown" class="mr-4"><a href="javascript:void(0)" (click)="more()" class="pr-2 mr-4 pull-right">More &rarr;</a></p>
</div>